# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=""

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=""

# JWT Secret Key, in this case from Supabase. Needed to decrypt sessions.
AUTH_JWT_KEY=""

# Supabase Project ID
SUPABASE_PROJECT_URL=""
# Supabase service role key, strictly on the backend / route handlers only. This bypasses RLS for direct database usage through ORM.
SUPABASE_SERVICE_ROLE_KEY=""